body {
  color: white;
}

p {
  text-align: center;
}

h5 {
  font-size: 17px;
  margin-top: 10px;
}
small {
  color: black;
}

a {
  text-decoration: none;
  color: rgb(189, 136, 166);
}

#location {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}

#temperature {
  font-size: 78px;
  text-align: center;
}

#location-date-temperature {
  margin-top: 41px;
}

#weather-description {
  text-align: center;
  font-size: 25px;
}
#weather-description:first-letter {
  text-transform: capitalize;
}
#main-icon {
  display: block;
  margin: 0 auto;
  width: 168px;
  margin-top: 27px;
}
.container {
  max-width: 807px;
  min-width: 780px;
}
.weather-app-wrapper {
  margin: 50px auto;
  text-align: center;
}
.main-card {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  margin: 15px auto;
  padding: 30px;
  border: none;
}
.card-day {
  background: rgb(189, 136, 166);
  text-align: center;
  margin-top: 10px;
}

.search-button {
  background: #be02e4;
  border-color: #be02e4;
  transition: all 150ms ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current-button {
  background: #be02e4;
  border-color: #be02e4;
  transition: all 150ms ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button:hover {
  background: #e38cf4;
  border-color: #e38cf4;
  color: white;
  cursor: pointer;
}

.current-button:hover {
  background: #e38cf4;
  border-color: #e38cf4;
  color: white;
  cursor: pointer;
}
.date-time {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.main-card .units {
  position: relative;
  font-size: 20px;
  line-height: 1;
  top: -43px;
}

.units .active {
  color: white;
  cursor: default;
}

.forecast-5-day {
  margin-top: 35px;
}

.factors-weather {
  text-align: left;
  font-size: 16px;
  margin-top: 90px;
  margin-left: 50px;
  line-height: 30px;
}

.forecast-emojis {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.forecast-max-temperature,
.forecast-min-temperature {
  font-size: 20px;
}

.forecast-max-temperature {
  font-weight: 700;
}

.github-link {
  color: black;
  text-decoration-line: none;
}
